::placeholder {
  text-align: center;
}

.style__jobs___3seWY {
  position: relative;
  overflow-y: scroll;
}

.e:hover {
  text-decoration: underline;
  cursor: pointer;
}

.e_c:hover {
  text-decoration: underline;
  cursor: pointer;
}

.e {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.right_message {
  width: auto;
  text-align: right;
  background-color: lightblue;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.left_message {
  width: auto;
  text-align: left;
  background-color: lightgreen;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.send_message {
  padding: 5px 5px 5px 10px;
  border: 1px solid #e0e0e0;
  position: relative;
  bottom: 0; /* attaches the element to the bottom */
  background-color: white;
}
.send_button {
  padding: 5px 5px 5px 10px;
  position: relative;
  bottom: 0;
  right: 0;
}
.position_message {
  padding: 5px 5px 5px 10px;
  position: relative;
  right: 0;
  top: 0;
}
.position_message:hover {
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button1:hover {
  background-color: #f44336;
  color: white;
}

.e_company {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.style__card___31yrn {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 24px;
}

.style__large___3qwwG {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.style__success___S1K0N {
  background-color: #0d7f02;
  color: #fff;
}

.style__base___hEhR9 {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  padding: 8px 12px;
  transition: background-color 0.2s;

  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.98);
}

.HideBox {
  display: none;
}

.DisplayBox {
  display: block;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.style__heading___29i1Z {
  margin: 0 0 0.7em;

  color: rgba(0, 0, 0, 0.98);
  line-height: 1.33em;
  font-weight: 500;
}

.style__medium___m_Ip7 {
  font-size: 16px;
}

.style__text___2ilXR {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 22px;
}
